input {
    outline: none;
    margin: 2px;
    border-radius: 3px;
    border: 2px transparent;
    background-color: rgb(213, 233, 233);
    height: 32px;
    padding: 0px;
}
.vertical-center {
    top: 50%;
    -ms-transform: translateY(25%);
    transform: translateY(25%);
}

.right-align {
    text-align: right;
    padding-right: 10px;
}
#container {
    padding: 20px;
}

.flex-sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 130px;
}

#enableBtn {
    width: 100%;
}
#disableBtn {
    width: 100%;
}