
input {
    outline: none;
    margin: 2px;
    border-radius: 3px;
    border: 2px transparent;
    background-color: rgb(213, 233, 233);
    height: 32px;
    padding: 0px;
}
.vertical-center {
    top: 50%;
    -ms-transform: translateY(25%);
    transform: translateY(25%);
}

.right-align {
    text-align: right;
    padding-right: 10px;
}
#container {
    padding: 20px;
    padding-top: 0px;
}

.flex-sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 130px;
}

#enableBtn {
    width: 100%;
}
#disableBtn {
    width: 100%;
}


/** Comment out this styling out if you want a boring (LAME >:O) UI */
/* body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: rgb(238, 255, 0);
    background: linear-gradient(to right, yellow,orange,yellow,green,blue,indigo,violet);
    color: rgb(225, 0, 255);
    font-weight: bold;
    font-style: italic;
}
input {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 9px;
    background: linear-gradient(red, blue);
    color: greenyellow;
}
button {
    font-family: "Comic Sans MS", cursive, sans-serif;
    border-radius: 9px;
    background: linear-gradient(to right, blue,red,green,black,purple,indigo,grey);
}
#enableBtn {
    font-family: "Comic Sans MS", cursive, sans-serif;
}
#disableBtn {
    font-family: "Comic Sans MS", cursive, sans-serif;
} */