input {
    outline: none;
    margin: 2px;
    margin-right: 0px;
    /* border-radius: 3px; */
    border-radius: 3px 0px 0px 3px;
    border: 2px transparent;
    background-color: rgb(221, 231, 238);
    height: 32px;
    padding: 0px;
    width: 180px;
    -webkit-transition: background-color 0.25s; /* Safari */
    transition: background-color 0.25s;
}
input:hover{
    background-color: rgb(226, 244, 255);
}

button {
    outline: none;
    margin: 2px;
    height: 32px;
    border-radius: 3px;
    border: 2px transparent;
    background-color: rgb(20, 108, 190);
    color: white;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(40, 147, 247);
}

.save-btn {
    border-radius: 0px 3px 3px 0px;
    margin-left: 0;
    padding-left: 0;
    margin-right: -1.5px;
    padding-right: -1.5px;

}

.full-width {
    width: 100%;
}

#enableBtn {
    height: 48px;
    width: 100%;
}

#disableBtn {
    background-color: rgb(151, 30, 30);
    height: 48px;
    width: 100%;
}
#disableBtn:hover {
    background-color: rgb(117, 23, 23);
}

.enableDisableMainLabel {
    font-size: 24px;
} 

.hidden {
    display: none;
}

.title {
    text-align: center;
}

#container {
    padding: 20px;
    padding-top: 10px;
}

.flex-row {
    display: flex;
    padding: 0;
    margin: 0;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}

.note-label {
    color: rgb(80, 150, 190);
}

.saved {
    color:green;
    text-align: right;
    opacity: 1;
    -webkit-transition: opacity 0.12s;
    transition: opacity 0.12s;
}

.transparent {
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in;
    transition: opacity 0.8s ease-in;
}


/* Making it look nice */
h1 {
    font-weight: normal;
    font-size: 32px;
}
body {
    padding:0px; 
    margin: 0px;
}
.label {
    color: rgb(126, 126, 126);
}