input {
    outline: none;
    margin: 2px;
    border-radius: 3px;
    border: 2px transparent;
    background-color: rgb(213, 233, 233);
    height: 32px;
    padding: 0px;
    width: 180px;
}

button {
    outline: none;
    margin: 2px;
    height: 32px;
    border-radius: 3px;
    border: 2px transparent;
    background-color: rgb(131, 194, 212);
    color: white;
    /* width: 100%; */
    /* margin-left: -10px; */
}

.full-width {
    width: 100%;
}

button:hover {
    background-color: rgb(80, 150, 190);
}

#enableBtn {
    background-color: rgb(79, 179, 124);
    height: 48px;
    width: 100%;
}
#enableBtn:hover {
    background-color: rgb(62, 146, 100);
}
#disableBtn {
    background-color: rgb(151, 30, 30);
    height: 48px;
    width: 100%;
}
#disableBtn:hover {
    background-color: rgb(117, 23, 23);
}

.enableDisableMainLabel {
    font-size: 24px;
} 

.hidden {
    display: none;
}

.title {
    text-align: center;
}

#container {
    padding: 20px;
    padding-top: 10px;
}

.flex-row {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}

.note-label {
    color: rgb(197, 137, 6)
}


/* Making it look nice */
h1 {
    font-weight: normal;
    font-size: 32px;
}
body {
    padding:0px; 
    margin: 0px;
}